#not_google {
  padding-top: 175px;
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.logo {
  padding: 20px;
  height: 300px;
}

.search_bar {
  height: auto;
  padding: 20px;
}

.other_pages {
  padding-top: 70px;
  margin-right: 500px;
  height: 200px;
  display: inline-flexbox;
}

.searchButton {
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  color: royalblue;
  width: 70px;
  height: 60px;
  cursor: pointer;
  font-size: 32px;
  text-align: center;
  vertical-align: bottom;
  transition: background-color 100ms linear;
}

.searchButton:hover {
  background: whitesmoke;
}

.button_google_basic, .button_google_advanced {
  height: 50px;
  width: 350px;
  text-align: center;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 150ms linear;
}

.button_google_basic {
  background-color: lightgray;
  color: black;
}

.button_google_advanced {
  background-color: lightgray;
  color: black;
}

.button_google_basic:hover {
  background-color: royalblue;
  color: white;
}

.button_google_advanced:hover {
  background-color: lightcoral;
  color: white;
}

.advanced_options > input {
  margin: 5px;
}

.search_box {
  display: block;
  margin: 5px;
}

.google_search {
  width: 10%;
  float: left;
  padding-left: 400px;
}

.google_advanced_search {
  width: 15%;
  float: right;
  padding-left: 0;
}

body {
  background-color: black;
}

form {
  padding-left: 20%;
  padding-right: 20%;
}

input {
  border-radius: 50px;
  border: 2px solid black;
  padding-left: 30px;
  padding-right: 20px;
  width: 800px;
  height: 55px;
  font-size: 24px;
}

input:focus, button:focus {
  outline: none;
}
