$curved_searchbar: 50px;

#logo
{
    background-color: orange;
    padding: 20px;
    height: 300px;
}

#search_bar
{
    height: 60px;
    max-height: 60px;
}

#other_pages
{
    background-color: burlywood;
    padding: 20px;
    height: 200px;
}

form
{
    padding-left: 20%;
    padding-right: 20%;
}

input[name=q]
{
    border-radius: $curved_searchbar;
    /*border: 2px solid blue;*/
    padding-left: 30px;
    padding-right: 20px;
    width: 800px;
    height: 55px;
    font-size: 24px;
}

input:focus[name=q]
{
    outline: none;
}

input[name=submit]
{
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 32px;
}

input:hover[name=submit]
{
    background: lightskyblue;
}