._div-logo
{
    width: auto;
    height: 60px;
    background-color: rgb(230, 230, 230);
}

._div-links
{
    width: 200px;
    height: 60px;
    float: right;
    text-align: right;
}

._div-advanced-search
{
    width: auto;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 24px;
    color: rgb(220, 0, 0);
    border-bottom: 1px solid lightgray;
}

._div-search-box
{
    float: left;
    padding-left: 30px;
    padding-top: 35px;
    height: 300px;
    width: 750px;
    border-bottom: 1px solid lightgray;
}

._div-form
{
    float: right;
}

.advanced-options
{
    outline: none;
    width: 550px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid lightgray;
    box-shadow: inset 0 0 1px lightgray;
    font-size: 16px;
    font-family: sans-serif;
}

.advanced-options:focus
{
    outline: 1px solid royalblue;
    //border: 1px solid royalblue;
}

._div-label
{
    float: left;
    clear: left;
    padding-top: 10px;
    width: 200px;
}

._div-search-bar-way
{
    padding-top: 35px;
    float: right;
    width: 1120px;
    height: 300px;
    border-bottom: 1px solid lightgray;
}

._lbl-search-bar-way
{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: gray;
}

.search-bar-instructions-1, .search-bar-instructions-2
{
    font-size: 12px;
    font-family: sans-serif;
    color: gray;
}

.search-bar-instructions-1
{
    margin-top: 23px;
}

.search-bar-instructions-2
{
    margin-top: 31px;
}

._div-label-containers
{
    padding-top: 15px;
}

._lbl-find-pages
{
    float: left;
    font-size: 16px;
    font-family: sans-serif;
}

._lbl-search
{
    font-size: 12px;
    font-family: sans-serif;
}

._div-google-permissions
{
    margin-top: 805px;
    width: 100%;
    height: 16px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.other-pages
{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit-button
{
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 7px;
    float: right;
    margin-top: 30px;
    background-color: rgb(94, 125, 219);
    color: white;
}

.submit-button:focus
{
    outline: 1px solid white;
}

.submit-button:hover
{
    background-color: royalblue;
}

#google-logo
{
    padding: 15px;
    height: 30px;
}